

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 2%;
  text-align: center;
}

div {
  margin-top: 18%;
  width: 100%;
  text-align: center;
}

input {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
