<html>
<head>
  <title>Molly Rankin's Trade Wars</title>
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
  <div>
    <h1>Trade Wars (∪ ◡ ∪)</h1>
    <form action="game.html">
      <input type="text" placeholder="Name" name="shipname">
      <input type="submit" value="Play" onclick="location.href='game.tmpl'">
    </form>
  </div>
</body>
</html>
